.flex {
  display: flex;
}

/* Margins */
.m-1 {
  margin: 0.25rem;
}
.m-2 {
  margin: 0.5rem;
}
.m-3 {
  margin: 1rem;
}
.m-4 {
  margin: 1.5rem;
}
.m-5 {
  margin: 3rem;
}
.my-1 {
  margin: 0.25rem 0;
}
.my-2 {
  margin: 0.5rem 0;
}
.my-3 {
  margin: 1rem 0;
}
.my-4 {
  margin: 1.5rem 0;
}
.my-5 {
  margin: 3rem 0;
}
.mx-1 {
  margin: 0 0.25rem;
}
.mx-2 {
  margin: 0 0.5rem;
}
.mx-3 {
  margin: 0 1rem;
}
.mx-4 {
  margin: 0 1.5rem;
}
.mx-5 {
  margin: 0 3rem;
}

/* Paddings */
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 1rem;
}
.p-4 {
  padding: 1.5rem;
}
.p-5 {
  padding: 3rem;
}
.py-1 {
  padding: 0.25rem 0;
}
.py-2 {
  padding: 0.5rem 0;
}
.py-3 {
  padding: 1rem 0;
}
.py-4 {
  padding: 1.5rem 0;
}
.py-5 {
  padding: 3rem 0;
}
.px-1 {
  padding: 0 0.25rem;
}
.px-2 {
  padding: 0 0.5rem;
}
.px-3 {
  padding: 0 1rem;
}
.px-4 {
  padding: 0 1.5rem;
}
.px-5 {
  padding: 0 3rem;
}

/* Widths */
.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-100 {
  width: 100%;
}
