@import url('./fonts/fonts.css');
@import url('./classes.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', 'OpenSans', sans-serif;
  font-size: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
